<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <h1>PDF search with text highlighting</h1>

  <h2>Sources</h2>
  <ul id="sources"></ul>

  <h2>Search</h2>
  <form>
    Keywords: <input id="search" type="text">
    <input type="button" onclick="searchPDF()" value="Search">
  </form>

  <script>
    var base_url;
  </script>
  <script>
    const API_BASE_URL = 'http://127.0.0.1:5000';
    (async () => {
      const response = await fetch(API_BASE_URL + '/sources');
      const sources = await response.json();
      base_url = sources[0][0];
      console.log(`getSources: ${JSON.stringify(sources)}`);
      ul_sources = document.getElementById('sources');
      sources.forEach(source => {
        const li = document.createElement('li');
        li.innerHTML = `<a href=${source[0]}>${source[1]}</a>: ${source[2]}`
        ul_sources.append(li);
      })
    })();
  </script>

  <script>
    const searchPDF = () => {
      const keywords = document.getElementById('search').value;

      (async () => {
        const path = encodeURI(`/search?base_url=${base_url}&keywords=${keywords}`);
        const response = await fetch(API_BASE_URL + path);
        const searchResult = await response.json();
        console.log(`getSearchResult: ${JSON.stringify(searchResult)}`);
      })();

    }
  </script>

</body>

</html>